.Footer{
  padding: 70px 0 100px;
  background: #fff;
  text-align: center;
  svg{
    height: 32px;
    p{
      margin-top: 15px;
      font-size: 17px;
      font-weight: 500;
      color: #777;
    }
  }
}