//Texttab, Icontab

.comp-tab{
  .head-wrap{
    padding: 0 15px;
    border-bottom: 1px solid #777;
  }
  .tab-head{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    & + .tab-head{
      padding-left: 25px;
    }
    .txt{
      opacity: 0.7;
      padding: 15px 0;
      border-bottom: 2px solid transparent;
      text-transform: capitalize;
      font-size: 17px;
      font-weight: 500;
      color: $black;
      i{
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    &.is-active{
      .txt{
        opacity: 1;
        border-color: $black;
      }
    }
  }
  .tab-body{
    display: none;
    padding-top: 30px;
  }
}