html,
body, * {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "맑은 고딕", Dotum, "돋움", "Apple SD Gothic Neo",
  "Apple SD 산돌고딕 Neo", "Malgun Gothic", Helvetica, sans-serif;
  font-weight: 400;
  outline: 0;
}

.digit {
  font-family: "montserrat", "Montserrat", "맑은 고딕", Dotum, "돋움",
  "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Malgun Gothic", Helvetica,
  sans-serif;
  font-weight: 600;
}

ul,
ol,
li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer !important;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

h2,
h3,
em,
strong {
  font-style: normal;
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

[type="text"]:focus,
[type="number"]:focus,
[type="tel"]:focus,
[type="file"]:focus,
[type="password"]:focus,
[type="email"]:focus,
[type="search"]:focus,
[type="url"]:focus,
textarea:focus {
  outline: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 200;
  color: #777;
}

input:-moz-placeholder {
  font-size: 12px;
  font-weight: 200;
  color: #777;
}

input::-moz-placeholder {
  font-size: 12px;
  font-weight: 200;
  color: #777;
}

input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 200;
  color: #777;
}

input:focus {
  border-color: $primary-color;
}

input:disabled {
  background: $lighter-gray;
}

/*inline style option class*/
.m0 {
  margin: 0 !important;
}

.bdt-transparent {
  border-top-color: transparent !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.txt-center {
  text-align: center !important;
}

.underline {
  text-decoration: underline;
}

.tilt {
  display: inline-block;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  margin-left: -2px;
}
body,html {
  height: 100%;
}


.btn-basic{
  opacity: 0.8;
  overflow-y: hidden;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  padding: 0 15px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: rgba(255,255,255,.9);
  border-radius: 3px;
  border: 1px solid #888;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #565656;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  & + .btn-basic{
    margin-left: 10px;
  }
  i{
    vertical-align: middle;
    font-size: 18px;
  }
  &.long{
    min-width: 150px;
  }
  &.like-active{
    background: pink;
    color: white;
  }
}

.no-data{
  p{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background: #f1f1f1;
  }
}