@charset "UTF-8";
//base-------------------------
@import "base/color";
@import "base/reset";
@import "base/common";


//components-------------------

@import "components/header";
@import "components/headerCategory";
@import "components/headerUnderCate";
@import "components/footer";

//common piece
@import "components/searchBar";
@import "components/pageTitle";
@import "components/tab";
@import "components/noData";

//content piece
@import "components/userIcon";
@import "components/tagList";
@import "components/collection";

//another layer piece
@import "components/toast";
@import "components/popupMenu";

//main piece
@import "components/photos";
@import "components/photoCard";
@import "components/photoDetail";


//pages-------------------------
@import "pages/home";
@import "pages/collections";
@import "pages/collectionPhotos";